@import "_variables.scss";

$footer-section-margins: $spacing-xl;
$footer-column-margins: $spacing-xl;
$footer-item-spacing: $spacing-s;
$footer-link-spacing: $spacing-xl;

footer {
    background: $color-background-footer;
    padding: $footer-padding;
}

.footer-container {
    display: flex;
    max-width: $footer-content-max-width;
    margin: 0 auto;
    padding: $footer-column-margins 0;
    flex-direction: column;
}

/* columns */
.footer-brand {
    display: flex;
    flex-direction: column;
    gap: $footer-item-spacing;
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: $footer-section-margins;
    margin-bottom: $footer-section-margins;
    gap: $footer-link-spacing;
}

.footer-links a {
    color: $font-color-alternate;
    text-decoration: none;

    &:hover {
        color: $color-alternate;
    }
}
/***/

.footer-social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $footer-item-spacing;
}

.footer-brand--link {
    font-size: $font-size-l;
}

.footer-brand--link a {
    color: $font-color-alternate;
    text-decoration: none;

    &:hover {
        color: $color-alternate;
    }
}

.footer-address {
    font-size: $font-size-s;
    color: $color-white;
}

.footer-telephone {
    color: $font-color-alternate;

    &:hover {
        color: $color-alternate;
    }
}

@media (min-width: $breakpoint-mobile) {
    .footer-container {
        flex-direction: row;
    }

    .footer-links {
        margin-left: auto;
    }

    .footer-links ul {
        margin: 0;
    }
}
