@import "_variables.scss";

.image__polaroid {
    width: 180px;
}

.music-locations {
    display: flex;
    flex-direction: row;
    gap: $spacing-m;
    justify-content: center;
    margin: $spacing-s;
}

.icon-social.music,
.icon-social.music__small {
    width: 60px;
}

@media (min-width: $breakpoint-mobile) {
    .image__polaroid {
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .icon-social.music {
        width: 100px;
    }

    .icon-social.music__small {
        width: 76px;
    }
}

@media (min-width: $breakpoint-tablet) {
    .music-locations {
        gap: $spacing-xxl;
    }
}

@media (min-width: $breakpoint-desktop) {
}
