@import "_variables.scss";

.post__content hr {
    border: none;
    height: 1px;
    background-color: $color-grey-dark;
}

.post__header a {
    color: $color-grey-dark;
    text-decoration-thickness: 1px;
}

.post__datetime {
    font-size: $font-size-xs;
    line-height: $font-lineheight-xs;
}

.post__featured-image {
    width: 34%;
    float: left;
    margin-right: $spacing-m;
    margin-bottom: $spacing-m;
}

.post__view-all-link {
    background: $color-white;
    padding: $spacing-s;
    display: inline-block;
}

/** homepage latest post for now **/
.featured-image--sm {
    width: 26%;
}

/** Posts page, list of posts **/
.posts__list-item {
    margin-bottom: $spacing-xl;
}
